$base: #191724;
$surface: #1f1d2e;
$overlay: #26233a;
$muted: #6e6a86;
$sudtle: #908caa;
$text: #e0def4;
$love: #eb6f92;
$gold: #f6c177;
$rose: #ebbcba;
$pine: #31748f;
$foam: #9ccfd8;
$iris: #c4a7e7;
$hl_low: #21202e;
$hl_med: #403d52;
$hl_high: #403d52;

@use 'sass:math';

window {
	color: $rose;
	background: $surface;
}

#workspaces button {
	margin: 0px 3px;
	padding: 0px 6px;
	&.active-workspace {
		background-color: $pine;
	}
	&:hover {
		background-color: $iris;
		* {
			color: $pine;
		}
	}
}

#clock {
	font-family: mono;
	font-size: 15px;
	color: $rose;
	.spacer {
		color: $foam;
		margin: 0px 4px;
	}
}

#end-box {
	margin-right: 10px;
	.icon {
		font-size: 20px;
		margin: 0px 4px;
	}
	box {
		margin: 0px 3px;
	}
}

#volume {
	font-size: 21px;
	color: $iris;
	min-width: 14px;
	&.muted {
		color: $love;
	}
}

#brightness {
	color: $iris;
	min-width: 19px
}

@keyframes blinker {
  50% {
    color: $gold;
  }
}

#battery {
	color: $pine;
	.Full {
		color: $gold;
	}
	.Warn {
		color: $love;
		animation: blinker 1s linear infinite;
	}
	.Critical {
		color: $love;
		animation: blinker 0.5s linear infinite;
	}
	#battery_charging {
		font-size: 21px;
		color: $gold;
	}
}

.metric * {
	font-size: 10px;
	color: $love;
}

.metric-bar trough {
	min-height: 20px;
	min-width: 10px;
	block { 
		background-color: $pine;
		border-radius: 3px;
		&.filled { 
			background-color: $love;
			border-radius: 0px 0px 3px 3px;
		}
	}
}

#calendar {
	background-color: $surface;
	border-left: 2px solid $rose;
	border-right: 2px solid $rose;
	border-bottom: 2px solid $rose;
	.view {
		margin: 15px;
		* {
			margin: 4px;
			border: 1px solid $pine;
			label, button, stack {
				border: hidden;
			}
			.today {
				background-color: $iris;
				color: $surface;
			}
		}
	}
}

// TODO: Actually style this
#volume {
	&.on {
		color: $gold;
	}
	&.muted {
		color: $love;
	}
	&.off {
		color: $muted;
	}
}
