@define-color base #191724;
@define-color surface #1f1d2e;
@define-color overlay #26233a;
@define-color muted #6e6a86;
@define-color sudtle #908caa;
@define-color text #e0def4;
@define-color love #eb6f92;
@define-color gold #f6c177;
@define-color rose #ebbcba;
@define-color pine #31748f;
@define-color foam #9ccfd8;
@define-color iris #c4a7e7;
@define-color hl_low #21202e;
@define-color hl_med #403d52;
@define-color hl_high #403d52;

* {
	color: @rose;
	background: transparent;
}

#workspaces button {
	margin: 0px 3px;
	padding: 0px 6px;
}

#workspaces .active-workspace {
	background-color: @pine;
}

#workspaces button:hover {
	background-color: @iris;
}

#workspaces button:hover * {
	color: @pine;
}

#clock {
	font-family: mono;
	font-size: 15px;
	color: @rose;
}

#clock .spacer {
	color: @foam;
	margin: 0px 4px;
}

#end-box .icon {
	font-size: 20px;
	margin: 0px 10px;
}

#end-box box {
	margin: 0px 3px;
}

#cpu *, #ram * {
	font-size: 10px;
	color: @love;
}

#volume {
	font-size: 21px;
	color: @iris;
}

#volume.muted {
	color: @love;
}

#brightness {
	color: @iris;
}

#battery {
	color: @pine;
}

#battery.Full {
	color: @gold;
}

#battery_charging {
	font-size: 21px;
	color: @gold;
}

/* Used for LevelBars, the cpu and memory usage bars */
trough {
	min-height: 20px;
	min-width: 10px;
}

trough block.filled { 
	background-color: @love;
  border-radius: 0px 0px 3px 3px;
}

trough block { 
	background-color: @pine;
  border-radius: 3px;
}

